@tailwind base;
@tailwind components;
@tailwind utilities;

.avg {
    background-image: url('../src/assets/images/banner-3.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

/* hidden scrollbar */
@layer base {
    html, body {
        overflow-y: scroll;  
    } 
    *::-webkit-scrollbar {
        display: none;
    }
    * {
        -ms-overflow-style: none; 
        scrollbar-width: none;   
    }
  }  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
   
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  /* ----------------------- */ 

  
  